.btn__view-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 3px solid var(--color-dark-100);
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.color-kamele .btn__view-more--kamele {
  &:hover,
  &:focus {
    background-color: var(--color-project-kamele-darker);
  }
}

.color-cookie .btn__view-more--cookie {
  &:hover,
  &:focus {
    background-color: var(--color-project-cookie-darker);
  }
}

.color-about-me .btn__view-more--about-me {
  &:hover,
  &:focus {
    background-color: var(--color-project-about-me-darker);
  }
}
