@font-face {
  font-family: "Muller Narrow";
  src: url("../../../fonts/MullerNarrow-ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller Narrow";
  src: url("../../../fonts/MullerNarrow-Light.otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../../../fonts/Tajawal-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../../../fonts/Tajawal-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
