.side-padding {
  padding: 0 250px;
}

.padding-top-sections {
  padding-top: 150px;
}

.padding-bottom-sections {
  padding-bottom: 150px;
}

.padding-top-subsections {
  padding-top: 100px;
}

.paragraph-spacing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.split-content {
  display: flex;
  gap: 200px;

  &.align-start {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.large {
    width: 66.6%;
  }
  &.equal {
    width: 50%;
  }
  &.small {
    width: 33.3%;
  }
}
