.padding-top-150 {
  padding-top: 72px;
}
.split-content-66-33 {
  display: flex;
  gap: 200px;
}

.content-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66%;
}

.content-small {
  width: 33%;
}
