.padding-side {
  padding: 0 250px;
}

.padding-top-sections {
  padding-top: 150px;
}

.padding-bottom-sections {
  padding-bottom: 150px;
}

.padding-top-subsections {
  padding-top: 100px;
}

.paragraph-spacing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.padding-side__headers-subtitle {
  padding: 0 4em;
}

// HEADERS ====================================================

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.color-project-cookie {
    background-color: var(--color-project-cookie);
  }
  &.color-project-kamele {
    background-color: var(--color-project-kamele);
  }
  &.color-project-about-me {
    background-color: var(--color-project-about-me);
  }
}

.header__image-container {
  max-width: 45em;
  height: auto;
}

.header__title-container {
  margin-top: -25em;
}

.header__subtitle-container {
  padding: 0 4em;
  margin-top: -1em;
  text-align: center;
}

// CONTENT ====================================================
.split-content {
  display: flex;
  gap: 200px;

  &.align-start {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.large {
    width: 66.6%;
  }
  &.equal {
    width: 50%;
  }
  &.small {
    width: 33.3%;
  }
}

// INVERT COLORS ====================================================

.icon-and-text {
  display: flex;
  align-items: center;
  gap: 1em;
}

// INVERT COLORS ====================================================
.invert-colors {
  color: var(--color-light-100);
  background-color: var(--color-dark-100);
}

.text__color-primary {
  color: var(--color-primary);
}
