/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

body {
  font-family: "Tajawal", "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

// HEADINGS ====================================================

h1,
h2,
h3,
h5,
.h1,
.h2,
.h3,
.h5 {
  font-family: "Muller Narrow", "Open Sans", sans-serif;
}

h4,
h6,
.h4,
.h6 {
  font-family: "Tajawal", "Open Sans", sans-serif;
}

h1,
h2,
h4,
h5,
.h1,
.h2,
.h4,
.h5 {
  font-weight: bold;
}

h3,
h6,
.h3,
.h6 {
  font-weight: lighter;
}

h2,
.h2 {
  font-size: 64px;
}

h3,
.h3 {
  font-size: 38px;
}

h4,
.h4 {
  font-size: 38px;
}

h5,
.h5 {
  font-size: 32px;
}

h6,
.h6 {
  font-weight: normal;
  font-size: 24px;
}

a,
ul,
li,
p,
.p {
  font-size: 18px;
}

.special-title {
  font-size: 84px;
  line-height: 84px;
  padding-bottom: 50px;
}

.special-description {
  font-size: 36px;
}

a,
.a {
  all: unset;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.hover-invert-color {
  &:hover,
  &:focus {
    background-color: var(--color-dark-100);
    color: var(--color-primary);
    transition: all 0.3s ease;
  }
}

.only-line {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--color-dark-100);
}

.filled-text {
  color: var(--color-dark-100);
  -webkit-text-stroke: 0;
}

.uppercase {
  text-transform: uppercase;
}
