:root {
  --color-dark-100: hsl(334, 100%, 0%);
  --color-light-100: hsl(122, 94%, 100%);
  --color-primary: hsl(76, 76%, 79%);
  --color-project-cookie: hsl(46, 100%, 85%);
  --color-project-kamele: hsl(159, 49%, 81%);
  --color-project-about-me: hsl(300, 39%, 84%);
  --color-project-cookie-darker: hsl(46, 77%, 62%);
  --color-project-kamele-darker: hsl(159, 45%, 60%);
  --color-project-about-me-darker: hsl(300, 27%, 60%);
}
