@import "../../scss/global.scss";

.landing {
  min-height: calc(100vh - 64px);
}

.gatito-100 {
  height: 100vh;
  align-items: center;
}

.section-img-content {
  &__title {
    font-size: 40px;
    font-weight: 500;
  }

  &__description {
    font-size: 30px;
    font-weight: 300;
  }

  &__button {
    background: blue;
  }
}

.red {
  background-color: red;
}
