// HEADER ====================================================

.header {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}

// PROJECTS CARDS ====================================================

.cards__container {
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  align-items: stretch;
  gap: 36px;
}

.card {
  flex-grow: 1;
  padding: 3rem 3rem;
  border: 2px solid var(--color-dark-100);
  border-radius: 24px;
  &.color-cookie {
    background-color: var(--color-project-cookie);
  }
  &.color-kamele {
    background-color: var(--color-project-kamele);
  }
  &.color-about-me {
    background-color: var(--color-project-about-me);
  }
}

.card__image-container {
  display: flex;
}
