.expendable-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-title {
  margin: 20px 0 10px 0;
  text-align: left;
  font-weight: 500;
}

.main-title-underline {
  width: 320px;
  text-align: left;
  height: 0.15rem;
  background: var(--color-primary);
  margin-bottom: 40px;
}
.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom: 3px solid var(--color-dark-100);
}

.underline {
  width: 100%;
  height: 0.15rem;
  background: var(--gh-blue-2);
  margin: 20px auto;
}
.column-container {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.column-container:hover {
  background-color: var(--color-primary);
  width: 100%;
}

.text-container {
  text-align: left;
  max-height: 350px;
  padding: 1rem 0;
  opacity: 1;
  animation-name: textanimate;
  animation-duration: 0.2s;
}

@keyframes textanimate {
  0% {
    opacity: 0;
    max-height: 15px;
  }
  100% {
    opacity: 1;
    max-height: 350px;
  }
}
